<mat-card class="card">
  <mat-card-title class="event-name">{{eventName}}</mat-card-title>
  <mat-card-content>
    <dl>
      <dt>
        <mat-icon class="event-field-icon">calendar_today</mat-icon>
        <span class="event-field date">
          {{date.toLocaleDateString()}}
        </span>
      </dt>
      <dt>
        <mat-icon class="event-field-icon">access_time</mat-icon>
        <span class="event-field time">
          {{time}}
        </span>
      </dt>
      <dt>
        <mat-icon class="event-field-icon">location_on</mat-icon>
        <span class="event-field location">
          {{location}}
        </span>
      </dt>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <span class="attendance">
      {{numberOfAttendingMembers}} attending
    </span>
    <button class="ben" mat-mini-fab color="primary" aria-label="attending">
      <mat-icon (click)="attendingChecked()" class="white-icon">{{attendingIcon}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
