<mat-card class="card">
  <mat-card-title class="event-name">{{eventNote.eventName}}</mat-card-title>
  <mat-card-content>
    <dl>
      <dt>
        <mat-icon class="event-field-icon">calendar_today</mat-icon>
        <span class="event-field date">
          {{eventNote.date.toLocaleDateString()}}
        </span>
      </dt>
      <dt>
        <mat-icon class="event-field-icon">access_time</mat-icon>
        <span class="event-field time">
          {{eventNote.time}}
        </span>
      </dt>
      <dt>
        <mat-icon class="event-field-icon">location_on</mat-icon>
        <span class="event-field location">
          {{eventNote.location}}
        </span>
      </dt>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <span class="attendance">
      {{numberOfAttendingMembers}} attending
    </span>
    <button mat-mini-fab
    color="primary"
    aria-label="attending"
    [ngClass]="{'blue-back' : attendingIconChecked, 'gray-back': !attendingIconChecked}"
    (click)="attendingChecked()">
      <mat-icon [ngClass]="{'blue-icon' : attendingIconChecked, 'black-icon': !attendingIconChecked}">{{attendingIcon}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
