.menu-icon {
    font-size: 2em;
    padding: 18px;
    cursor: pointer;
    margin-top: 8px;
}

img{
  width: 180px;
  height: 85px;

}

.header-menu {
  display: flex;
}

.app-page {
  padding-top: 0;
}
