$acf-palette-primary: (

  50: #e4f5fc,

  100: #bce5f8,

  200: #8fd4f4,

  300: #62c2f0,

  400: #41b5ec,

  500: #1fa8e9,

  600: #1ba0e6,

  700: #1797e3,

  800: #128ddf,

  900: #0a7dd9,

  A100: #ffffff,

  A200: #d0e8ff,

  A400: #9dcfff,

  A700: #84c3ff,

  contrast: (

    50: #000000,

    100: #000000,

    200: #000000,

    300: #000000,

    400: #000000,

    500: #000000,

    600: #000000,

    700: #ffffff,

    800: #ffffff,

    900: #ffffff,

    A100: #000000,

    A200: #000000,

    A400: #000000,

    A700: #000000

  )

);
