

.page-title{
  padding-left: 50px;
}

.pics{
  display: inline-block;
}
.cube{
  width: 300px;
  height: 300px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: inline-block;
}
.logo{
  text-align: center;
}
